<% layout("layouts/boilerplate.ejs") -%>
<!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout" style="padding-top: 76px;"> 
   <!-- Header Container -->
  <header id="utf-header-container-block" style="position: fixed;"> 
    <div id="header">
      <div class="container"> 
        <div class="utf-left-side"> 
          <div id="logo"> <a href="index-1.html"><img src="images/logo.png" alt=""></a> </div>
          <nav id="navigation">
            <ul id="responsive">
              <li><a href="index-1.html" class="current">Home</a>
                
              </li>
              <li><a href="register.html">Jobseeker</a>
              <!--  <ul class="dropdown-nav">
                  <li><a href="#"><i class="icon-feather-chevrons-right"></i> Browse Jobs</a>
                    <ul class="dropdown-nav">
                      <li><a href="jobs-list-layout-leftside.html"><i class="icon-feather-chevrons-right"></i> Jobs List Left Sidebar</a></li>
                      
                    </ul>
                  </li>
                  <li><a href="browse-companies.html"><i class="icon-feather-chevrons-right"></i> Browse Companies</a></li>
                  <li><a href="single-job-page.html"><i class="icon-feather-chevrons-right"></i> Jobs Detail Page</a></li>
                  
                  </li>				  
                </ul> -->
              </li>
              <li><a href="registerE.html">Employers</a>
			  
              <!--  <ul class="dropdown-nav">
                  <li><a href="dashboard.html"><i class="icon-feather-chevrons-right"></i> Dashboard</a></li>
                  <li><a href="dashboard-jobs-post.html"><i class="icon-feather-chevrons-right"></i> Manage Jobs Post</a></li> 
				  <li><a href="dashboard-manage-jobs.html"><i class="icon-feather-chevrons-right"></i> Manage Jobs</a></li>
				  <li><a href="dashboard-manage-resume.html"><i class="icon-feather-chevrons-right"></i> Manage Resume</a></li>
				  
                    
                  </li>
                  
                  <li><a href="dashboard-my-profile.html"><i class="icon-feather-chevrons-right"></i> My Profile</a></li>
                </ul> -->
              </li>
               <li><a href="login.html">Admin</a> </li>
                <!-- <ul class="dropdown-nav">
				  <li><a href="about-us.html"><i class="icon-feather-chevrons-right"></i> About Us</a></li>	
				  <li><a href="login.html"><i class="icon-feather-chevrons-right"></i> Login</a></li>
                  <li><a href="register.html"><i class="icon-feather-chevrons-right"></i> Sign Up</a></li>
				  <li><a href="checkout-page.html"><i class="icon-feather-chevrons-right"></i> Order Checkout</a></li>
				  <li><a href="order-confirmation.html"><i class="icon-feather-chevrons-right"></i> Order Confirmation</a></li>
				  <li><a href="invoice-template.html"><i class="icon-feather-chevrons-right"></i> Invoice Template</a></li>
				
				  <li><a href="faq-page.html"><i class="icon-feather-chevrons-right"></i> FAQ Page</a></li>	
                  <li><a href="pages-404.html"><i class="icon-feather-chevrons-right"></i> 404 Page</a></li>
                </ul>
              </li> -->
			  
			  <li><a href="contact.html">Contact-Us</a></li>
			  <li><a href="about-us.html">About-Us</a></li>
            </ul>
          </nav>
          <div class="clearfix"></div>                    
        </div>
        
        <div class="utf-right-side"> 
		  <div class="utf-header-widget-item"> <a href="sign-up.html" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Sign In</span></a> </div>	
		  <div class="utf-header-widget-item"> 
            <div class="utf-header-notifications user-menu">
              
            </div>
          </div>
          <span class="mmenu-trigger">
			<button class="hamburger utf-hamburger-collapse-item" type="button"> <span class="utf-hamburger-box-item"> <span class="utf-hamburger-inner-item"></span> </span> </button>
          </span> 
		</div>
      </div>
    </div>
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->
  <div class="clearfix"></div>
  <!-- Header Container / End --> 
  
  <!-- Dashboard Container -->
  <div class="utf-dashboard-container-aera" style="height: 681px;"> 
    <div class="utf-dashboard-sidebar-item">
      <div class="utf-dashboard-sidebar-item-inner" data-simplebar="init" style="height: 681px;"><div class="simplebar-track vertical" style="visibility: visible; display: none;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 25px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible; display: none;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
        <div class="utf-dashboard-nav-container"> 
          <!-- Responsive Navigation Trigger --> 
          <a href="#" class="utf-dashboard-responsive-trigger-item"> <span class="hamburger utf-hamburger-collapse-item"> <span class="utf-hamburger-box-item"> <span class="utf-hamburger-inner-item"></span> </span> </span> <span class="trigger-title">Dashboard Navigation Menu</span> </a> 
          <!-- Navigation -->
          <div class="utf-dashboard-nav">
            <div class="utf-dashboard-nav-inner">
			  <div class="dashboard-profile-box">
				  <span class="avatar-img">
					<img alt="" src="images/user-avatar-placeholder.png" class="photo">
				  </span>
				  <div class="user-profile-text">
					<span class="fullname">Dsce</span>
					<span class="user-role">Software Engineer</span>
				  </div>
			  </div>
			  <div class="clearfix"></div>
              <ul>
                <li><a href="Empdashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
				<li><a href="dashboard-jobs-post.html"><i class="icon-line-awesome-user-secret"></i> Manage Jobs Post</a></li>
				<li><a href="dashboard-manage-jobs.html"><i class="icon-material-outline-group"></i> Manage Jobs <span class="nav-tag">5</span></a></li>
				<li><a href="dashboard-manage-resume.html"><i class="icon-material-outline-supervisor-account"></i> Manage Resume</a></li>
				
				<li class="active"><a href="dashboard-my-profile.html"><i class="icon-feather-user"></i> My Profile</a></li>
                <li><a href="index-1.html"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div></div></div>
    </div>
    <!-- Dashboard Sidebar / End --> 
    
    <!-- Dashboard Content -->
    <div class="utf-dashboard-content-container-aera" data-simplebar="init" style="height: 681px;"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 2286px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
	  <div id="dashboard-titlebar" class="utf-dashboard-headline-item">
		<div class="row">
			<div class="col-xl-12">	
				<h3>Jobseeker Profile</h3>
				<nav id="breadcrumbs">
					<ul>
					  <li><a href="index-1.html">Home</a></li>
					  <li><a href="dashboard.html">Dashboard</a></li>
					  <li>Jobseeker Profile</li>
					</ul>
				</nav>
			</div>
		</div>		
      </div>
      <div class="utf-dashboard-content-inner-aera" style="min-height: 681px;"> 
        <div class="row"> 
          <div class="col-xl-6">
            <div class="dashboard-box margin-top-0 margin-bottom-30"> 
              <div class="headline">
                <h3>My Profile Details</h3>
              </div>
              <div class="content with-padding padding-bottom-0">
                <div class="row">
                  <div class="col">
                    <div class="row">
					  <div class="col-xl-12">
						<div class="row">
							<div class="col-xl-5 col-md-3 col-sm-4">
								<div class="utf-avatar-wrapper" data-tippy-placement="top" data-tippy="" data-original-title="Change Profile Picture"> 
								  <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="">
								  <div class="upload-button"></div>
								  <input class="file-upload" type="file" accept="image/*">
								</div>
							</div>
							<div class="col-xl-7 col-md-9 col-sm-8"> 
								<div class="utf-submit-field">
								  <h5>Account Type</h5>
								  <div class="utf-account-type">
									<div>
									  <input type="radio" name="utf-account-type-radio" id="freelancer-radio" class="utf-account-type-radio" checked="">
									  <label for="freelancer-radio" data-tippy-placement="top" class="utf-ripple-effect-dark" data-tippy="" data-original-title="Employer"><i class="icon-material-outline-business-center"></i> Jobseeker</label>
									</div>
									

								  </div>
								</div>
							</div>
						</div>
					  </div>	
                      <div class="col-xl-12 col-md-6 col-sm-6">
                        <div class="utf-submit-field">
                          <h5>Your Name</h5>
                          <input type="text" class="utf-with-border" value="Dsce">
                        </div>
                      </div>
                      <div class="col-xl-12 col-md-6 col-sm-6">
                        <div class="utf-submit-field">
                          <h5>Phone Number</h5>
                          <input type="text" class="utf-with-border" value="(+22) 1201 123-456">
                        </div>
                      </div>
                      <div class="col-xl-12 col-md-6 col-sm-6">
                        <div class="utf-submit-field">
                          <h5>Email Address</h5>
                          <input type="text" class="utf-with-border" value="demo@example.com">
                        </div>
                      </div>
					 
                       <div class="col-xl-6 col-md-6 col-sm-6">
                    <div class="utf-submit-field">
                      <h5>Experience</h5>
                      <div class="btn-group bootstrap-select utf-with-border"><select class="selectpicker utf-with-border" data-value="0 To 6 Years" data-size="7" title="Select Experience" tabindex="-98"><option class="bs-title-option" value="">Select Experience</option>
                        <option>1 Year</option>
                        <option>1.5 Year</option>
                        <option>2 Year</option>
                        <option>2.5 Year</option>
                        <option>3 Year</option>
                      </select></div>
                    </div>
                  </div>
                    <div class="col-xl-12 col-md-12 col-sm-12">
                    <div class="utf-submit-field">
                      <h5>Job Skills <i class="help-icon" data-tippy-placement="top" data-tippy="" data-original-title="Maximum of 6 Skills"></i></h5>
                      <div class="keywords-container">
                        <div class="keyword-input-container">
                          <input type="text" class="keyword-input utf-with-border" placeholder="CSS, Photoshop, Js, Bootstrap">
                          <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                        </div>
                        <div class="keywords-list" style="height: auto;"><!-- keywords go here --></div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
          <div class="col-xl-12 col-md-12 col-sm-12">
                    <div class="utf-submit-field">
                      <h5>Upload Resume</h5>
            <div class="uploadButton margin-top-15 margin-bottom-30">
                        <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple="">
                        <label class="uploadButton-button ripple-effect" for="upload">Upload Resume</label>
                        <span class="uploadButton-file-name">Upload Resume (Docx, Doc, PDF) File.</span> 
            </div>                      
                    </div>
                  </div>
                  <div class="col-xl-12 col-md-12 col-sm-12">
                    <div class="utf-submit-field">
                      <h5>Career Description</h5>
            <textarea cols="40" rows="2" class="utf-with-border" placeholder="Career Description..."></textarea>                      
                    </div>
                  </div>
					  <div class="col-xl-12 col-md-6 col-sm-6">
                        <div class="utf-submit-field">
                          <h5><i class="icon-brand-facebook"></i> Facebook</h5>
                          <input type="text" class="utf-with-border" value="https://www.facebook.com">
                        </div>
                      </div>
                      <div class="col-xl-12 col-md-6 col-sm-6">
                        <div class="utf-submit-field">
                          <h5><i class="icon-brand-twitter"></i> Twitter</h5>
                          <input type="text" class="utf-with-border" value="https://www.twitter.com">
                        </div>
                      </div>
					  <div class="col-xl-12 col-md-6 col-sm-6">
                        <div class="utf-submit-field">
                          <h5><i class="icon-brand-linkedin"></i> Linkedin</h5>
                          <input type="text" class="utf-with-border" value="https://www.google.com">
                        </div>
                      </div>
					  <div class="col-xl-12 col-md-6 col-sm-6">
                        <div class="utf-submit-field">
                          <h5><i class="icon-brand-google-plus-g"></i> Google+</h5>
                          <input type="text" class="utf-with-border" value="https://www.linkedin.com">
                        </div>
                      </div>					  
                    </div>
                  </div>
                </div>
				<a href="javascript:void(0);" class="button ripple-effect big margin-top-10 margin-bottom-20">Save Changes</a>
              </div>
            </div>			
          </div>
          
          <div class="col-xl-6">
            <div id="test1" class="dashboard-box margin-top-0"> 
              <div class="headline">
                <h3>Change Password</h3>
              </div>
              <div class="content with-padding">
                <div class="row">
                  <div class="col-xl-12 col-md-6 col-sm-6">
                    <div class="utf-submit-field">
                      <h5>Current Password</h5>
                      <input type="password" class="utf-with-border" data-tippy-placement="top" placeholder="********" data-tippy="" data-original-title="Current Password">
                    </div>
                  </div>
                  <div class="col-xl-12 col-md-6 col-sm-6">
                    <div class="utf-submit-field">
                      <h5>New Password</h5>
                      <input type="password" class="utf-with-border" data-tippy-placement="top" placeholder="********" data-tippy="" data-original-title="The password must be at least 8 characters">
                    </div>
                  </div>
                  <div class="col-xl-12 col-md-6 col-sm-6">
                    <div class="utf-submit-field">
                      <h5>Confirm New Password</h5>
                      <input type="password" class="utf-with-border" data-tippy-placement="top" placeholder="********" data-tippy="" data-original-title="The password must be at least 8 characters">
                    </div>
                  </div>                  
                </div>
				<a href="javascript:void(0);" class="button ripple-effect big margin-top-10">Changes Password</a>	
              </div>			  
            </div>
          </div>          
        </div>
        
        <!-- Footer -->
        <div class="utf-dashboard-footer-spacer-aera" style="padding-top: 123px;"></div>
        <div class="utf-small-footer margin-top-15">
          <div class="utf-small-footer-copyrights">Copyright © 2020 All Rights Reserved.</div>
        </div>
      </div>
    </div></div></div>
    <!-- Dashboard Content / End -->     
  </div>  
</div>
<!-- Wrapper / End --> 
